body{
    background-color: rgb(14, 7, 7);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
}

h1{
    color: rgb(0, 183, 255);
    margin-bottom: 2.5rem;
}
canvas {
    border: 3px solid rgb(21, 180, 219);
}